  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(86, 140, 240, 0.491);
}
.box{
  position: relative;
  width: 450px;
 height: 550px;
 border-radius: 30px;
 padding: 30px 50px;
 box-shadow: 25px 25px 75px rgba(86, 140, 240, 0.491),10px 10px 70px rgba(86, 140, 240, 0.491),inset 5px 5px 10px rgba(86, 140, 240, 0.491),inset 5px 5px 10px rgba(86, 140, 240, 0.491),inset -5px -5px 15px rgba(86, 140, 240, 0.491);
}
h2{
  font-weight: 600;
  text-align: center;
  width: 100%;
  font-size: 1.75em;
  color: rgb(26, 110, 135);
  margin-bottom: 20px;
}
#inputBox{
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 5px 5px 10px rgba(86, 140, 240, 0.491),inset 5px 5px 7px rgba(86, 140, 240, 0.491);
}
.box li{
  position: relative;
  display: flex;
  align-items: center;
  background: rgba(86, 140, 240, 0.491);
  margin: 15px 0;
  padding: 10px 10px 10px 45px; 
  min-height: 45px;
  border-radius: 22.5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgba(86, 140, 240, 0.491),inset 5px 5px 7px rgba(86, 140, 240, 0.491);

}
.box li i{
  position:absolute;
  width: 30px;
  background-color: rgba(232, 76, 14, 0.861);
  right: -40px;
  height: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(86, 140, 240, 0.491),inset 5px 5px 7px rgba(86, 140, 240, 0.491);
}
.box li i::before{
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
}
.box li i::after{
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background: #fff;
  transform: rotate(-45deg);
}
.box li::before{
  content: '';
  position: absolute;
  left: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2f363e;
}

.box li.done{
  background-color: rgb(98, 149, 86);
}
.box li.done::after{
  content: '';
  position: absolute;
  left: 16px;
  width: 12px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom:2px solid #fff;
  transform: rotate(315deg);
}
#list{
  position: relative;
  margin-top: 20px;
  height: 350px;
  overflow-y: auto;
  padding-right: 65px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar
{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: #fff;
}
.video{
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  opacity: 1;
}
