@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300;1,400&display=swap");
:root {
  --primary-color: #f60f20;
  --secondary-color: #1b206e;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Poppins", sans-serif;
  color: #111;
}
h1 {
  font-size: 30px;
  font-weight: 500;
}
.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar.active {
  left: 0;
}

.navbar ul {
  position: relative;
}
.navbar ul li {
  position: relative;
  list-style: none;
  align-items: center;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 300;
  color: #111;
}
.navbar ul li a:hover {
  color: var(--primary-color);
}
.navbar .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .social-bar a {
  display: inline-block;
  transform: scale(0.5);
}
.email {
  transform: scale(0.5);
  bottom: 20px;
  position: absolute;
}
.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 20;
}
.home-sec .imge {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
}
section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
  margin-top: 60px;
}
section.home-sec {
  flex-direction: row;
  margin-top: 0;
}
.home-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}
p {
  margin: 20px 0px 10px;
  font-size: 1.1rem;
}
.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
}
.btn:hover {
  transform: scale(0.98);
}
.cas {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}
.services {
  padding: 30px;
}
.cas .services:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.cas .services h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: var(--secondary-color);
}

.cas .services .icon img {
  max-width: 100px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.portfolio .item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}
.portfolio .item img {
  width: 100%;
  height: 100%;
}
.portfolio .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.5s;
}
.portfolio .item:hover .action {
  opacity: 1;
}
.portfolio .item .action a {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
}
.contact {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: space-between;
  align-items: flex-start;
}
.contact-from {
  position: relative;
  background-color: #f9f9f9;
  width: calc(100% - 400px);
  padding: 60px 40px 20px;
}
.contact-from form{
  width: 100%;
}
.contact-from .row {
  width: 100%;
  display: flex;
}
.contact-from .row .input50 {
  width: 50%;
  margin: 0 10px;
}
.contact-from .input100{
  width: 100%;
  margin: 0 10px;
}
.contact-from.input100 textarea{
  height: 150px;
}
.contact-from .row input,
.contact-from .row textarea {
  background: transparent;
  position: relative;
  width: 100%;
  color: #111;
  border: 1px solid rgba(0, 0, 0, 0.2);
  resize: none;
  width: 100%;
  padding: 10px;
  font-weight: 300;
  font-size: 16px;
  margin: 10px 0;
  outline: none;
  }
.contact-from .row input[type='submit']{
  background-color: var(--secondary-color);
  margin: 0;
  position: relative;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 300;
}
.contact-info{
  width: 350px;
  background-color: #f9f9f9;
  padding: 60px 40px 20px;
}
.contact-info .info-box{
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.contact-info .info-box .contact-icon{
  width: 20px;
  margin-right: 40px;
}
.contact-info .info-box .details h4 {
  color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
  color: #111;
}
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 20;
  background: var(--primary-color) url("Logo/menu.png");
  cursor: pointer;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.toggle.active {
  background: var(--primary-color) url("Logo/close.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.social-bar ul li {
  display: flex;
  justify-content: center;
}

@media (max-width: 1068px) {
  .imge {
    display: none;
  }
  .logo {
    top: 10px;
    left: 20px;
    font-size: 1.5rem;
  }
  section {
    padding: 100px 60px;
  }
  .navbar ul li a {
    font-size: 1.8rem;
  }
  .cas {
    grid-template-columns: repeat(2, 1fr);
  }
 .contact{
    flex-direction: column;
    
  }
 
  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }
}
@media (max-width: 768px) {
  .contact{
    flex-direction: column;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .cas {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }
  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  
}
